[Desktop Entry]
Name=Flux
Comment=Fan curves, power profiles and GPU management
Exec=python3 /home/tadey/power-control/src/main.py
Icon=flux
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=fan;power;gpu;thermal;asus;flux;
StartupNotify=true
